@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    border: 2px solid black;
    margin-bottom: 10px;
}